@import "~variables.scss";


section{
        background-color: $colorOne;
        text-align: center;
        padding: 20px;
}

.headerLine{
    font-size: 2rem;
    color: $colorLightest;
    padding-bottom: 10px;
}

.headerLine2{
    color: #FFD7D2;
    padding-bottom: 0;
    margin-bottom: 0;
}

.headerPick{
    font-size: 3rem;
    font-family: 'Droid Serif', serif;
    color: $colorDark;
}

.headerGladly{
    color: $colorLightest;
    font-size: 6rem;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media (max-width: $mobileWidth) {
    .headerGladly{
        font-size: 4rem;
    }
}