@import "~variables.scss";

.loaderContainer{
    position: relative;
    margin: 20px;
}

#loader:before, #loader:after{
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
  animation: moveitmoveit 1.6s ease infinite;
}

#loader:before{
    background-color: $colorOne;
}

#loader:after{
    background-color: $colorFour;
  bottom: 0;
  animation-delay: 0.8s;
}

@keyframes moveitmoveit{
  0%, 100%{
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
  }

  25%{
    -webkit-transform: translate(30px,30px);
    -ms-transform: translate(30px,30px);
    -o-transform: translate(30px,30px);
    transform: translate(30px,30px);
  }

  50%{
    -webkit-transform: translate(0px,60px);
    -ms-transform: translate(0px,60px);
    -o-transform: translate(0px,60px);
    transform: translate(0px,60px);
  }

  75%{
    -webkit-transform: translate(-30px,30px);
    -ms-transform: translate(-30px,30px);
    -o-transform: translate(-30px,30px);
    transform: translate(-30px,30px);
  }
}