@import "~variables.scss";

    .button{
        background-color: $colorFour;
        border-color: $colorFourBorder;
        &:hover{
            background-color: $colorFourBorder;
        }
    }

.buttonSmall{
    display: inline-block;
    background-color: $colorThree;
    color: $colorLightest;
    border: 2px solid $colorThreeBorder;
    width: calc(50% - 30px);
    &:hover{
        background-color: $colorThreeBorder;
    }
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked+label{ 
    display: inline-block;
    color: $colorThreeBorder;
    background-color: $colorLightest;
    pointer-events: none;
} 