@import "~variables.scss";

section{
    background-color: $colorLight;
    padding-top: 60px;
    text-align: center;
}
input{
    padding: 10px;
    width: 50%;
    outline: none;
    border: 2px solid $colorDark;
    &:focus{
        border: 2px solid $colorOne;
    }
}

.notFound{
    height: 35px;
    padding-top: 10px;
    p{
        padding: 0;
        margin: 0;
    }
}