<section class="landing">
  <app-header></app-header>
  <app-location (myLatLongPlace)="myLocation($event)"></app-location>
  <app-filters 
    (go)="getFood()"
    (cuisine)="myCuisine($event)"
    (price)="myPrice($event)"
    (radius)="myRadius($event)"
    (selectAll)="selectAllCuisines($event)">
  </app-filters>
</section>

<section class="results">
  How about
  <div class="result"
  *ngFor="let restaurant of restaurants">
    <h2>{{ restaurant.restaurant.name }}</h2>
    ({{ restaurant.restaurant.cuisines}})
    <p>Price: {{ restaurant.restaurant.price_range }} Ratings: {{ restaurant.restaurant.user_rating.aggregate_rating }}</p>
  </div>
</section>

