@import "~variables.scss";

.firstImgContainer{
    height:150px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imgContainer{
    height:150px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.landingWrapper{
    background: $colorLightest
}
// .landing{
//     background: $colorOne;
//     min-height: 100vh;
// }
header{
    display: flex;
    flex-wrap: wrap;
    app-header{
        width: 50%;
    }
    app-location{
        width: 50%;
    }
}
.resultRest{
    display: flex;
    flex-wrap: wrap;
    h2{
        display: inline;
    }
}
.resultFirstWrapper{
    display: flex;
    .resultFirstInfo{
        width: 40%;
    }
    .resultsMap{
        width: 60%;
        padding: 20px;
    }
}
.resultFirst{
    width: 100%;
    h1{
        color :$colorLightest;
        font-size: 5rem;
        font-family: 'Droid Serif', serif;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: normal;
        margin: 0;
    }
    .howAboutLine{
        background: $colorOne;
        padding: 40px 20px;
    }
    .resultFirstInfo{
        padding: 20px;
    }
}
.sorryLine{
    width: 100%;
    h1{
        color :$colorLightest;
        font-size: 5rem;
        font-family: 'Droid Serif', serif;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: normal;
        margin: 0;
    }
        background: $colorOne;
        padding: 40px 20px;

}
.howAboutBorder{
    background: $colorOne;
    height: 40px;
    width: 100%;
}
.result{
    width: 33.33%;
    .resultRestInfo{
        padding: 20px;
        &:first-of-type{
            height: 180px;
            padding-bottom: 0;
        }
        &:last-of-type{
            padding-top: 0;
        }
    }
    &:first-of-type{
        display: none;
    }
    .buttonSmall{
        background-color: $colorOne;
        border-color: $colorOneBorder;
        &:hover{
            background-color: $colorOneBorder;
        }
    }
    &:nth-of-type(6n+1){
        background-color: $colorLightest;
    }
    &:nth-of-type(6n+2){
        background-color: $colorThree;
    }
    &:nth-of-type(6n+3){
        background-color: $colorLightest;
    }
    &:nth-of-type(6n+4){
        background-color: $colorTwo;
    }
    &:nth-of-type(6n+5){
        background-color: $colorLightest;
    }
    &:nth-of-type(6n+6){
        background-color: $colorFour;
    }
}

@media (max-width: $mediumWidth) {
    .result{
        width: 50%;
        .resultRestInfo{
            padding: 20px;
            &:first-of-type{
                height: 190px;
                padding-bottom: 0;
            }
            &:last-of-type{
                padding-top: 0;
            }
        }
        &:first-of-type{
            display: none;
        }
        .buttonSmall{
            background-color: $colorOne;
            border-color: $colorOneBorder;
            &:hover{
                background-color: $colorOneBorder;
            }
        }
        &:nth-of-type(4n+1){
            background-color: $colorThree;
        }
        &:nth-of-type(4n+2){
            background-color: $colorLightest;
        }
        &:nth-of-type(4n+3){
            background-color: $colorTwo;
        }
        &:nth-of-type(4n+4){
            background-color: $colorFour;
        }
    }
}

@media (max-width: $smallWidth) {
    .resultFirstWrapper{
        display: flex;
        flex-wrap: wrap;
        .resultFirstInfo{
            width: 100%;
        }
        .resultsMap{
            width: 100%;
            padding: 20px;
        }
    }
    header{
        app-header{
            width: 100%;
        }
        app-location{
            width: 100%;
        }
    }
}

@media (max-width: $mobileWidth) {
    .result{
        width: 100%;
        .resultRestInfo{
            &:first-of-type{
                height: 150px;
            }
            &:last-of-type{
                text-align: center;
            }
        }
        &:first-of-type{
            display: none;
        }

    }
}