@import "~variables.scss";

img{
    width: 100%;
}

.landing{
    background: $colorLight;
}

.resultRest{
    display: flex;
    flex-wrap: wrap;
    h2{
        display: inline;
    }
}

.resultFirstWrapper{
    display: flex;
    .resultFirstInfo{
        width: 40%;
    }
    .resultsMap{
        width: 60%;
        padding: 20px 0 0 20px;
    }
}


.resultFirst{
    border: 1px solid black;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px;
    h1{
        font-size: 8rem;
        font-family: 'Dancing Script', cursive;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.result{
    width: calc(33.33% - 42px);
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    &:first-of-type{
        display: none;
    }
}