<div class="topBorder"></div>
<div class="botBorder"></div>
<div class="rightBorder"></div>
<div class="leftBorder"></div>


<section class="landing">
  <section class="landingWrapper">
  <header>
    <app-header></app-header>
    <app-location 
      (myLatLongPlace)="myLocation($event)" 
      [locationNotFound]="locationNotFound"
    ></app-location>
  </header>
    

  <app-filters 
    (go)="getFood()"
    (cuisine)="myCuisine($event)"
    (price)="myPrice($event)"
    (radius)="myRadius($event)"
    (selectAll)="selectAllCuisines($event)">
  </app-filters>
  </section>
</section>



<section class="results" id="results">
  <div class="sorryLine" *ngIf="dataHere && noRestaurantsFound"><h1>Sorry, no results found</h1></div>
  
  <!--<div class="resultFirst">-->
  <div class="resultFirst" *ngIf="dataHere && !noRestaurantsFound">
    <div class="howAboutLine"><h1>How about</h1></div>
    <div class="resultFirstWrapper">
    <div class="resultFirstInfo">
      <h2>{{ firstRestaurant.name }}</h2>
      <p>({{ firstRestaurant.cuisines}})</p>
      <p>{{ firstRestaurant.location.address }}</p>
      <div *ngIf="showThumb" class="firstImgContainer" [ngStyle]="{'background-image' : 'url(' + firstRestaurant.thumb + ')'}"></div>
      <p>Price: {{ firstRestaurant.price_range }} 
        Ratings: {{ firstRestaurant.user_rating.aggregate_rating }}</p>
    
      <app-directions (emitShowDirections)="emitShowDirections($event)" [passRadius]="passRadius" [origin]="origin" [destination]="destination"></app-directions>
 
    </div>

    <div class="resultsMap" id="resultsMap">
      <app-map *ngIf="dataHere"
        [myLat]="myLat" 
        [myLong]="myLong"
        [restaurantLat]="restaurantLat"
        [restaurantLong]="restaurantLong"
        [latitude]="midLat"
        [longitude]="midLong">
      </app-map>
    </div>
    </div>
  </div>
    
  <div class="howAboutBorder"></div>  

  <div id="loader">
    <app-loader id="loader" *ngIf="showLoader"></app-loader>
  </div>


  <div class="resultRest" *ngIf="dataHere && !noRestaurantsFound">
    <div class="result"
    *ngFor="let restaurant of restaurants; let i=index ">
      <div class="resultRestInfo">
        <h2>{{ restaurant.restaurant.name }}</h2>
        <p>({{ restaurant.restaurant.cuisines}})</p>
        <p>{{ restaurant.restaurant.location.address }}</p>
      </div>
      <div class="imgContainer" [ngStyle]="{'background-image' : 'url(' + restaurant.restaurant.thumb + ')'}"></div>
      <div class="resultRestInfo">
        <p>Price: {{ restaurant.restaurant.price_range }} Ratings: {{ restaurant.restaurant.user_rating.aggregate_rating }}</p>
        <a class="buttonSmall" (click)="getRestaurantLocation(i)">Let's go here!</a>
      </div>
    </div>
  </div>
</section>

