$colorLightest: white;
$colorOne:#FFBDB0;
$colorOneBorder: #E56157; 
$colorTwo:#FFFBD2;
$colorTwoBorder:#CC9933;
$colorThree:#BBF2D1;
$colorThreeBorder:#20C462;
$colorFour: #9CB7D1;
$colorFourBorder:#2B6D99;

$colorDark:#666;

$largeWidth: 1280px;
$mediumWidth: 940px;
$smallWidth: 768px;
$mobileWidth: 550px;